
.root {
    -fx-font-family: "Roboto";
    
    /* Paleta de Cores */
    -color-primary: #11B687;       /* Verde Principal */
    -color-bg-default: #f4f4f4;    /* Fundo Cinza Claro */
    -color-white: #ffffff;
    -color-text-dark: #3c3c3c;
    -color-text-light: #ffffff;
    -color-price: #00a650;
    -color-discount-bg: #ffcccc;
    -color-discount-text: #cc0000;
}

.header-bar {
    -fx-background-color: -color-primary; 
    -fx-alignment: center-left;
    -fx-padding: 0 20 0 20; 
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 2); 
}

.header-bar .label {
    -fx-font-size: 24pt;
    -fx-font-weight: bold;
    -fx-text-fill: -color-text-light;
}

.header-button {
    -fx-background-color: transparent;
    -fx-font-size: 14pt;
    -fx-text-fill: -color-text-light;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.header-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.2); /* Efeito ao passar o mouse */
    -fx-background-radius: 5;
}

.filter-pane {
    -fx-background-color: -color-white;
    -fx-padding: 20px;
    -fx-spacing: 15px;
}

.filter-title {
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-text-fill: -color-text-dark;
}

.filter-subtitle {
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-text-fill: -color-text-dark;
}

/* --- CARD DO PRODUTO --- */
.product-cell {
    -fx-background-color: -color-white;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 5, 0, 0, 2);
    -fx-cursor: hand;
}

.product-cell:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 10, 0, 0, 4); /* Destaca ao passar o mouse */
    -fx-border-color: -color-primary; /* Borda verde ao focar */
}

.product-name {
    -fx-font-weight: bold;
    -fx-font-size: 11pt;
    -fx-text-fill: -color-text-dark;
}

.price-current {
    -fx-font-size: 16pt;
    -fx-text-fill: -color-price;
    -fx-font-weight: bold;
}

.price-original {
    -fx-strikethrough: true;
    -fx-text-fill: #9e9e9e;
    -fx-font-size: 11pt;
}

.discount-badge {
    -fx-background-color: -color-discount-bg;
    -fx-padding: 2 4;
    -fx-background-radius: 4;
    -fx-text-fill: -color-discount-text;
    -fx-font-weight: bold;
    -fx-font-size: 10pt;
}